/* Add a background color to the header element */
*{
    margin-top:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(250, 235, 215);
    text-align: center;
    font-size: 24px;
    
    
    
   
}

/* Add a fun background color to the main element */
main{
    background-color:rgb(250, 235, 215);
   
    
    

}
img{
    height: 300px;
    width: 500px;
    margin: 25px 60px 1px 10px;
    border-style: solid;
    border-color: red;
    
   
    

}
p.par{
    color: red;
    font-style: italic;

}
ul.list{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer{
    background-color: #faebd7;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */

/* Add a background color to the footer element */